fieldset-focus{
	border:1px solid #828D9D;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
}

fieldset {
	border:1px solid #ddd;
	padding-right: 10px;padding-left: 10px;  
}

legend {
	padding: 0.2em 0.5em;
	border:1px solid #ddd;
	font-size:90%;
	padding: 10px;
	font-size: 15px;
}
legend small{
	font-size:13px;
	font-weight: 500;
}
div.form-group label{
	font-size:16px;
	color:#585755;
	font-weight: 500;
	}.form-control-feedback{
		margin-bottom: 10px;
	}
	
	.modal-backdrop {
		z-index: -1;
	}